name: Production
on:
    push:
        tags:
            - "*.*.*" # Triggers on version tags like v1.0.0
jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Log in to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.ACCESS_TOKEN }}

            - name: Extract version from package.json
              id: extract_version
              run: echo "VERSION=$(jq -r '.version' package.json)" >> $GITHUB_ENV

            - name: Build and push Docker image
              uses: docker/build-push-action@v6
              with:
                  context: .
                  file: ./Dockerfile.app
                  # platforms: linux/amd64,linux/arm64
                  push: true
                  tags: |
                      ghcr.io/${{ github.repository_owner }}/helldiversbot:${{ github.ref_name }}
                      ghcr.io/${{ github.repository_owner }}/helldiversbot:production
                      ghcr.io/${{ github.repository_owner }}/helldiversbot:latest
                  build-args: |
                      NODE_ENV=production

            - name: Create GitHub Release
              uses: softprops/action-gh-release@v2
              with:
                  # files: CHANGELOG.md
                  body_path: RELEASE.md
                  token: ${{ secrets.ACCESS_TOKEN }}
