name: Staging
on:
    workflow_dispatch: # allows requesting workflow manually from the website
    push:
        branches:
            - main
permissions:
    contents: write
    packages: write

jobs:
    # sonarqube:
    #     runs-on: ubuntu-latest
    #     steps:
    #         - uses: actions/checkout@v6
    #           with:
    #               # Disabling shallow clones is recommended for improving the relevancy of reporting
    #               fetch-depth: 0

    #         # perform scan
    #         - name: SonarQube Cloud Scan
    #           uses: SonarSource/sonarqube-scan-action@v7.0.0 # Ex: v5.2.0, See the latest version at https://github.com/marketplace/actions/official-sonarqube-scan
    #           env:
    #               SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    #               SONAR_HOST_URL: https://sonarcloud.io # ${{ vars.SONAR_HOST_URL }}

    #         # check scan results
    #         # - name: SonarQube Quality Gate
    #         #   id: sonarqube-quality-gate-check
    #         #   uses: sonarsource/sonarqube-quality-gate-action@v1.2.0 # Ex: v1.2.0, See the latest version at https://github.com/marketplace/actions/sonarqube-quality-gate-check
    #         #   with:
    #         #       pollingTimeoutSec: 300 #default
    #         #   env:
    #         #       SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    #         #       SONAR_HOST_URL: https://sonarcloud.io

    build-migrate:
        # needs: sonarqube # <--- This makes build wait for sonarqube to finish
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Log in to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and push MIGRATE
              uses: docker/build-push-action@v6
              with:
                  context: .
                  file: ./Dockerfile.migrate
                  push: true
                  tags: |
                      ghcr.io/${{ github.repository_owner }}/helldiversbot-migrate:staging
                  build-args: |
                      NODE_ENV=staging
    build-app:
        # needs: sonarqube # <--- This makes build wait for sonarqube to finish
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Log in to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and push APP
              uses: docker/build-push-action@v6
              with:
                  context: .
                  file: ./Dockerfile.app
                  #   platforms: linux/amd64,linux/arm64
                  push: true
                  tags: |
                      ghcr.io/${{ github.repository_owner }}/helldiversbot:staging
                  build-args: |
                      NODE_ENV=staging

    cleanup:
        needs: [build-migrate, build-app] # Runs after both builds complete
        runs-on: ubuntu-latest
        steps:
            - name: Cleanup untagged packages
              uses: snok/container-retention-policy@v3.0.1
              with:
                  account: user
                  token: ${{ secrets.GITHUB_TOKEN }}
                  image-names: "helldiversbot helldiversbot-migrate"
                  tag-selection: untagged
                  cut-off: 30min
                  dry-run: true
